/* GENERAL */
body {
  height: 3000px;
  background-color: white;
}

.container-fluid {
  max-width: 1310px;
  overflow-x: hidden;
}

.svg {
  fill: white;
}

.subscribe-btn {
  width: 200px;
  background-color: yellow;
  border-radius: 24px;
}

a {
  color: black;
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none;
  padding-right: 10px;
  white-space: nowrap;
}

.bottom-nav li a {
  color: gray;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* NAV BAR  */
.top-nav1 {
  position: relative;
  z-index: 6;
}

.bottom-nav li .text-black {
  color: black;
}

.bottom-nav-sticky {
  position: fixed;
  width: 100%;
  max-width: 1310px;
  top: 0;
  z-index: 5;
}

.footer-icons ul li a {
  border-right: 0;
}

.footer-icons ul li a i {
  font-size: 30px;
}

.footer-icons ul li a:hover {
  background-color: blue;
}

footer svg {
  fill: red;
}

footer {
  position: relative;
  margin-top: 500px;
  z-index: 1;
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  .top-nav1 {
    display: none;
  }
}

@media screen and (max-width: 575.98px) {
  .subscribe-btn,
  .with-small a {
    width: 80px;
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
  }

  .with-small {
    font-size: 0.7rem;
  }
}