/* GENERAL */
body {
  height: 3000px;
}

.container-fluid {
  max-width: 1310px;
  overflow-x: hidden;
}

.svg {
  fill: white;
}

.subscribe-btn {
  width: 200px;
}

a {
  font-size: 16px;
  padding-right: 10px;
  white-space: nowrap;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* NAV BAR  */
.top-nav1 {
  z-index: 6;
}

.bottom-nav-sticky {
  width: 100%;
  max-width: 1310px;
  top: 0;
  z-index: 5;
}

.footer-icons ul li a {
  border-right: 0;
}

.fab {
  font-size: 30px;
}

footer svg {
  fill: red;
}

footer {
  margin-top: 500px;
  z-index: 1;
}

/* MEDIA QUERIES */

@media screen and (max-width: 575.98px) {
  .subscribe-btn,
  .with-small a {
    width: 80px;
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
  }

  .with-small {
    font-size: 0.7rem;
  }
}
